body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Montserrat;
    background: url(headsphoto.jpg) no-repeat;
    background-size: cover;
}

/* #wrap {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.749);
    margin: 0 auto;
} */

.topstrip {

    width: 7%;

}

#homephoto {

    width: 100%;
    margin-bottom: -0.3%;

}

#heads {

    background-color: white;

}

img {

    width: 50%;

}

header {

    padding: 0%;
    text-align: center;
    background-color: white;

}

nav {

    background-color: rgba(231, 222, 210, 0.85);
    text-align: left;
    padding: 30px;
    margin-top: 0px;
    
}

nav li {

    display: inline;

}

nav a {

    color: black;
    font-size: 170%;
    padding: 30px;
    text-decoration: none;

}

nav a:hover {

    background-color: rgb(237, 250, 254);

}

nav ul {

    margin: 0;
    padding: 0;
    font-weight: bold;

}

section {

    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);

}

footer {

    background-color: rgb(237, 250, 254);
    color: black;
    text-align: center;
    padding: 10px;

}

.button {

    background-color: rgb(67, 142, 67);
    color: white;
    text-decoration: none;
    font-size: 130%;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;

}

a.button:hover {

    background-color: lightskyblue;

}