body {

    margin: 0;
    padding: 0;
    background-color: #abc;
    background: url(mountains.jpeg) no-repeat fixed center;

}

#wrap {

    width: 1000px;
    background-color: rgb(255, 255, 255, 0.6);
    margin: 0 auto;

}

header {

    text-align: center;
    background-color: rgba(255, 255, 0, 0.3);

}

nav {

    background-color: aliceblue;
    padding: 10px;

}

nav li {

    display: inline;
    padding: 10px;
    font-family: Mooli;
    font-size: 20px;

}

.one {

    width: 470px;
    height: 400px;
    background-color: green;
    /* float: left; */
    padding: 10px;
    position: relative;

}

.two {

    width: 200px;
    height: 200px;
    background-color: red;
    /* float: right; */
    padding: 10px;
    border: 2px solid maroon;
    position: absolute;
    top: 5px;
    left: 5px;

}

section {

    padding: 10px;
    overflow: auto;

}

.hide {

    /* visibility: hidden; */
    display: none;

}

h1 {

    font-family: Dancing Script;
    font-size: 500%;

}