body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

#wrap {
    margin: 0 auto;
    width: 70%;
    background-color: white;
}

section {
    overflow: auto;
    padding: 1%;
}

figure {
    width: 26%;
    background-color: black;
    margin: 2.2%;
    padding: 10px;
    text-align: center;
    float: left;
}

figure img {
    width: 100%;
}

figcaption {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 5px;
}

footer {
    background-color: bisque;
    padding: 15px;
}
