body {

    background-color: azure;

}

h1 {

    font-family: Montserrat;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 3%;

}

p {

    font-family: Crimson Text;
    text-align: center;
    margin-bottom: 7%;

}

img {

    width: 15%;

}