body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

#wrap {
    width: 70%;
    background-color: white;
    margin: 0 auto;
}

form {

    width: 50%;
    margin: 0 auto;

}

fieldset {

    background-color: #ddd;
    border-radius: 1em;

}

legend {

    font-size: 30px;
    font-family: Georgia, serif;
    background-color: navy;
    color: white;
    font-weight: bold;
    padding: 5px 10px;

}

textarea {

    width: 90%;
    height: 100px;

}

.button {

    background-color: navy;
    color: white;
    font-size: 1.5em;
    font-variant: small-caps;

}

.red {

    color: red;

}