#indexbody {

    background-color: white;

}

#nav {

    margin-left: 15%;

}

.btn-group {

    margin-left: 28%;
    margin-bottom: 5%;

}

.indeximg {

    width: 40%;
    margin-left: 3.5%;
    float: left;

}

.indexcontent {

    font-family: Montserrat;
    line-height: 250%;

}

a {

    margin-right: 3%;

}

footer p {

    font-family: Montserrat;
    text-align: center;

}

.carousel-item {

    font-size: small;

}

form {

    margin-left: 15%;
    margin-right: 15%;

}

#researchpost {

    margin-left: 10%;
    margin-bottom: 7%;
    float: left;

}

.researchtext {

    font-family: Montserrat;
    text-align: center;
    line-height: 200%;

}