#indexbody {

    background-color: white;

}

#nav {

    margin-left: 15%;

}

.btn-group {

    margin-left: 30%;

}

a {

    margin-right: 3%;

}

footer p {

    font-family: Montserrat;
    text-align: center;

}

.text-block {
    position: absolute;
    bottom: -17.5%;
    right: 10%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.868);
    color: black;
    padding: 1.5%;
}

.text-block2 {

    position: absolute;
    width: 50%;
    bottom: -58%;
    right: 20%;
    left: 25%;
    background-color: rgba(255, 255, 255, 0.868);
    color: black;
    padding: 1%;

}

.main {

    text-align: center;
    font-family: Montserrat;
    margin-top: 2%;

}